style.
    #faq{font-family:sans-serif;text-rendering:optimizeLegibility}#faq h4{font-family:Ubuntu}
span#faq
    h4 What is pasteHTML?
    p pasteHTML is an extremely simple hassle-free anonymous HTML hosting service for web demos and markup messages.
    
    h4 Who are you?
    p I am phillips1012.
    
    h4 Why did you make this?
    p I made it because a site known as HTMLpaste got shut down for some reason, and I needed a simple pasting site that doesn't publicly list pastes or invade your privacy
    
    h4 What programming language is pasteHTML made in?
    p pasteHTML is made in coffeescript, running an express.js server, which dynamically compiles jade, coffeescript, and stylus. Not a single line of client or server code is curly-braced. The first revision of it was made in python CGI on apache. (lol)
    
    h4 Why did you choose node.js/coffeescript?
    p I chose node.js because it allows for extremely simple but extremely fast HTTP servers. I chose coffeescript because of it's bullshit-free syntax.
    p I didn't choose PHP for <a href="http://me.veekun.com/blog/2012/04/09/php-a-fractal-of-bad-design/" target="_blank">obvious reasons</a>.
    
    h4 Where is the source code?
    p pasteHTML is open source now! <a href="https://github.com/phillips1012/pasteHTML" target="_blank">https://github.com/phillips1012/pasteHTML</a>
    
    h4 You are aware there is already a site called "PasteHTML", right?
    p Yes, that site that forces you to login and "like" on Facebook and "+1" on Google+ (invading your privacy), then give them a reason you should have access, just to use it? Yeah, I know that site.
    
    h4(style="display:inline-block") How many pastes are there?&nbsp;
    p(style="display:inline-block") #{pastes}. (feel free to bump this number up)